body{
    font-size: 16px;
}
p { 
    color: brown;
}
p span{
    color: green;
}
.content{
    color: blue;
}
.choice{
    color: cornflowerblue;
}
.name{
    font-size: 30px;
}
.mans .second{
    color: red;
}
#rules{
color: palevioletred;
}
#height{
    color: purple;
    font-size: 16px;
}
.order span{
    color: red;
}
#suit{
    color: royalblue;
}